<div class="row">
  <div class="col text-center">
    <img src="img/madison-beer.jpeg" alt="Madison Beer" width="200" class="img-thumbnail rounded-circle" />
    <h1 class="display-4">Mochammad Fahmi Kurnia Sandi</h1>
    <p class="lead">Frontend Developer | Graphic Designer</p>
  </div>
</div>
