<h1>Web Server with ExpressJS</h1>
<h2>Halo, Selamat siang <%= nama %></h2>

<h4>Daftar mahasiswa</h4>
<% if (mahasiswa.length < 1) { %>
<p>Data mahasiswa masih kosong.</p>
<% } else { %> <% mahasiswa.forEach(mhs => { %>
<ul>
  <li>Nama : <%= mhs.nama %></li>
  <li>Email : <%= mhs.email %></li>
</ul>
<% }) %> <%}%>
